body {
    margin: 0 auto;
    background-color: #efe9e5;
}

.container {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

#header-img {
    width: 10%;
    padding-top: 2vh;
}

.title {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 4vh;
}

#btn {
    padding: 14px 28px;
    border: none;
    margin-bottom: 4vh;
    font-family: "Darker Grotesque";
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #d74e26;
}

.advice-box {
    width: 40%;
    height: auto;
    padding: 10vh 5vw;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
}

#advice {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    font-size: 1.8em;
}

.footer {
    position: relative;
    text-align: center;
}

#footer-text {
    font-family: "Darker Grotesque";
    font-size: 1em;
    font-weight: 600;
    position: fixed;
    bottom: 12px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}

@media (max-width: 400px) {
    .container {
        width: 85%;
    }
    #header-img {
        width: 35%;
        padding-top: 5vh;
    }
    .title {
        font-size: 2em;
    }
    .advice-box {
        width: 85%;
        margin: 0 auto;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    #advice {
        font-size: 1.5wem;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    .container {
        width: 85%;
    }
    #header-img {
        width: 35%;
        padding-top: 5vh;
    }
    .title {
        font-size: 2em;
    }
    .advice-box {
        width: 85%;
        margin: 0 auto;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    #advice {
        font-size: 1.5wem;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .container {
        text-align: center;
        width: 85%;
        margin: 0 auto;
    }
    #header-img {
        width: 20%;
        padding-top: 5vh;
    }
    .title {
        font-family: "Darker Grotesque", sans-serif;
        font-weight: 900;
        font-size: 2.5em;
        margin: 0;
        padding-bottom: 4vh;
    }
    #btn {
        padding: 14px 28px;
        border: none;
        margin-bottom: 4vh;
        font-family: "Darker Grotesque";
        font-size: .8em;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 7px;
        outline: none;
        cursor: pointer;
        color: white;
        background-color: #d74e26;
    }
    .advice-box {
        width: 75%;
        height: auto;
        padding: 10vh 5vw;
        margin: 0 auto;
        background-color: white;
        border-radius: 20px;
    }
    #advice {
        font-family: "Darker Grotesque", sans-serif;
        font-weight: 400;
        font-size: 1.8em;
    }
    .footer {
        position: relative;
        text-align: center;
    }
    #footer-text {
        font-family: "Darker Grotesque";
        font-size: 1em;
        font-weight: 600;
        position: fixed;
        bottom: 12px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
    }
}